<!DOCTYPE html>
<html>

<head>
    <title>정보 입력</title>

    <meta name="viewport"
content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>정보 입력</h1>

    <form action="/result" method="POST">

        <p>내 MBTI</p>

        <select name="my_mbti">
            <option>INFP</option>
            <option>ENTP</option>
            <option>ESTJ</option>
        </select>

        <p>상대 MBTI</p>

        <select name="other_mbti">
            <option>INFP</option>
            <option>ENTP</option>
            <option>ESTJ</option>
        </select>

        <p>관심사</p>

        <select name="interest">
            <option>음악</option>
            <option>운동</option>
            <option>영화</option>
        </select>

        <br><br>

        <button type="submit">결과 보기</button>

    </form>

</body>
</html>